/*Books Result Styling*/
.book-result{
    background-color: #dfe5e6;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.book-result-heading{
    font-size: 22px;
    padding-left: 0px;
    padding-bottom: 12px;
    color: #040707;
}


/*Card Styling*/
.card-wrapper{
    display: inline;
}
.card{
    width: 19%;
    display: inline-block;
    margin-bottom: 50px;
    margin-right: 5px;
}
.card-img-top{
    height: 200px;
}
.card-body{
    padding: 0px;
    background-color: #dfe5e6;
    padding-bottom: 5px;
}
.card-title{
    font-size: 15px;
    color: #1d1d1d;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.card-author{
    font-size: 14px;
    color: #1d1d1d;
    padding-bottom: 5px;
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* button below card styling*/
.book-price-cart{
    background-color: #21addd;
}
.book-price-tag{
    margin-bottom: 0px;
    font-size: 18px;
    color: #ffffff;
    padding: 8px 32px;
    display: inline-block;
}
.book-cart-btn{
    background-color: #1a8ab0;
    font-size: 18px;
    color: #ffffff;
    padding: 9px 10px;
    float: right;
    transition: transform .3s;
}
.book-cart-btn:hover{
    transform: scale(1.1);
}

